{% extends "base.html.twig" %}

{% block body %}
    <div class="inWave">
        <!--vague du header, plusieurs vagues-->
        <img class="wave" src="{{asset('images/wave2.svg')}}" alt="">
    </div>
    <div class="outWave">
        <br>
        <!--articles des solutions en BDD-->
        <h3 id="solution">Solutions GET-MS</h3>
        <hr>
        <section class="articles">
            {% for article in article %}
                <article>
                    <h4>{{ article.titlearticle }}</h4>
                    <div class="metadata">
                        <img class="imgArticle" src="{{ article.image }}" alt="image">
                        <div class="contentArticle">{{ article.contenu }}</div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
    <!--vague de séparation-->
    <div class="inWave">
        <img class="waveSeparate" src="{{asset('images/wave.svg')}}" alt="">
        <img class="waveSeparate" src="{{asset('images/wave2.svg')}}" alt="">
    </div>
    <div class="outWave">
        <br>
        <!--deuxième paragraphe, pouvant servir de début de la 2eme page sur la nav avec un bouton "Lire la suite, reportant sur la page concernée"-->
        <h3 id="maintenance">Maintenance et <a href="/site">Assistance</a></h3>
        <div class="content">
            <p>La plupart des petites structures ne peuvent disposer d'un administrateur capable de maintenir les serveurs, d'effectuer les mises à jour des systèmes et des applications, de modifier les droits d'accès ou tout simplement assister les opérateurs dans l'utilisation quotidienne de l'outil informatique. Pour cela, nous avons mis en place une télémaintenance comprenant : </p>
            <ul class="ulAssist">
                <div class="divRow">
                    <img class="imgAssist" src="{{ asset('images/assistance2-0.jpg') }}" alt="">
                    <li class="liAssist">Une <span>maintenance préventive mensuelle</span> de votre serveur, en particulier pour vérifier les sauvegardes, l'antivirus, les disques etc</li>
                </div>
                <div class="divRow">
                    <img class="imgAssist" src="{{ asset('images/assistance3-1.jpg') }}" alt="">
                    <li class="liAssist">Une <span>maintenance curative</span> en cas d'incident logiciel et matériel. La maintenance à partir de votre appel téléphonique ou sur rendez-vous selon votre besoin.</li>
                </div>
                <div class="divRow">
                    <img class="imgAssist" src="{{ asset('images/assistance1-1.jpg') }}" alt="">
                    <li class="liAssist"><span>L'assistance avec prise en mains à distance</span> aux ordinateurs de bureau est un complément de la maintenance serveur. Elle permet aux utilisateurs de solliciter par téléphone la maintenance pour résoudre les dysfonctionnements du poste.</li>
                </div>
            </ul>
        </div>
    </div>
    <!--vague du footer-->
    <div class="inWave">
        <img class="wave" src="{{asset('images/wave.svg')}}" alt="">
    </div>
{% endblock body %}